*.o
*.lo
*.la
*.Po
*.Plo
build-aux
Makefile.in
Makefile
.libs
INSTALL
SVNChangeLog
aclocal.m4
autom4te.cache/
build-aus
check.pc
check_stdint.h
test.out
config.h
config.log
config.status
configure
check.info
*.diff
libtool
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
version.texi
lt~obsolete.m4
check.h
exported.sym
stamp-h1
stamp-vti
test_vars
