# Temp files
*~
*.bak
*.backup
\#*
.\#*
*\#
*.sav
*.save
*.autosav
*.autosave
*.swp
*.swap

# Generated binaries
*.o
*.lo
*.la
*.Po
*.Plo

# Generated folders
bin/
build/
release/
debug/

# CMake
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
DartConfiguration.tcl
Testing/
check_error_linenums_seRbql
check_test_names__e1JTIe
cmake_install.cmake
lib/CMakeFiles/
lib/cmake_install.cmake
lib/libcompat.a
src/CMakeFiles/
src/cmake_install.cmake
src/libcheck.a
tests/CMakeFiles/
tests/CTestTestfile.cmake
tests/check_check
tests/check_check_export
tests/check_nofork
tests/check_nofork_teardown
tests/cmake_install.cmake

build-aux
Makefile.in
Makefile
.libs
INSTALL
SVNChangeLog
aclocal.m4
autom4te.cache/
build-aus
check.pc
check_stdint.h
test.out
config.h
config.log
config.status
configure
check.info
*.diff
libtool
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
version.texi
lt~obsolete.m4
check.h
exported.sym
stamp-h1
stamp-vti
test_vars
tests/ex_output
tests/test.xml
tests/*.log
tests/*.sh.trs
tests/*.tap
checkmk/*.log
checkmk/test/*.log
