# Copyright (C) 2016 Branden Archer <b.m.archer4@gmail.com>
# Copyright (C) 2016 Joshua D. Boyd <jdboyd@jdboyd.net>
#
# This library is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public
# License as published by the Free Software Foundation; either
# version 2.1 of the License, or (at your option) any later version.
#
# This library is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public
# License along with this library; if not, write to the
# Free Software Foundation, Inc., 59 Temple Place - Suite 330,
# Boston, MA 02111-1307, USA.

sudo: required
language: c

os:
  - linux
  - osx

compiler:
  - gcc
  - clang

env:
  global:
    - MY_PV=0.12.0

env:
  - USE_CMAKE=YES
  - USE_CMAKE=NO
  - USE_CMAKE=NO EXTRA_ARGS="--disable-fork --disable-subunit --enable-snprintf-replacement --enable-timer-replacement"
  - PRE_RELEASE_CHECK=YES

matrix:
  exclude:
  # There have been sporadic unit test failures with
  # timeout tests on OSX using CMake. Until these are
  # resolved, skipping these tests.
  - os: osx
    env: USE_CMAKE=YES
  - os: osx
    env: PRE_RELEASE_CHECK=YES

  include:
  # Only use scan-build once, the result should be the same
  # regardless of OS.
  - os: linux
    compiler: clang
    env: SCAN_BUILD=YES

before_script:
 - if [ "$(uname)" = "Linux" ]; then sudo apt-get update; sudo apt-get install -y texlive texinfo texi2html doxygen; fi
 - if [ "$(uname)" = "Darwin" ]; then brew update; brew cask install mactex; brew install texi2html texinfo doxygen; fi

jobs:
  include:
    - stage: Test builds
    - stage: Deploy
      if: tag =~ ^v.* AND branch = master AND os = linux
      deploy:
        provider: releases
        api_key:
          secure: EfzyzHz8962YzufP3J7PpO9xntjCnu1proCyX2hpF4d/D3ewDM1Oj+Datlx8A9umY3glfMvBZSu9pLQXqro1d47Lc406J0ecUCCTzs6yJn6pIT0bWhagr8VhqK/GaunSUrCEUOC7QTJ1iB12KoDCAPOoKvygah4dlQSQprTfDM27cvowc02fycAeINPqkBlizw81DqSNK2BQE2RiCuGiCGu5EK7/eYwLqDt7f/Uv8pMA2p1odmNRFcVZpebKmwEdPGgd7dGcFVZDuK9oVjEsk/RTbR2aj0M+st1200BT+ALKf/iRNA3G1GXXhObT+CP1N/VAxvCUZA6SFanQtOHvdQuY2u7uCjXyom9By86HPtGOzBNTKVlvVFoDavqg4nvuxjgJvAdXVdlKRiPd7CdeTgppmr0ZKtbnzNPbYX7d/a3fcTjkIJDpKcLaGuiNZd+BeNh7IojMfYyE+rsv8ygi7kwHDSmkLOAY+UO+YBgQVL6PaV534rbR+ltI09eYKbvcWrBPZnGT7u+tecw48l2iYencEyAedEOsWVORTLMJ6bVlp/TiSheSXanlmKFH7zT31EmsBGaKRd7UDCpA9FQxjb6MzEoOtgw5NxQZ6o29X4ukAoyzPNYUJ9t7YSmdl3fY5uJpp5VUcqbiu+sOYdEMzem1J60PBfc7ywoa/yV7gw4=
        file:
          - dist/check-${MY_PV}.x86_64.deb
          - dist/check-${MY_PV}.x86_64.rpm
        on:
          repo: libcheck/check
          branch: master
          tags: true
        skip_cleanup: true
      script:
        - cmake -D CMAKE_BUILD_TYPE=Release ./
        - make package

script:
  - chmod +x travis.sh
  - ./travis.sh
