Source: check
Section: devel
Priority: optional
Maintainer: Robert Lemmen <robertle@semistable.com>
Build-Depends: debhelper (>= 3.0.0)
Standards-Version: 3.6.2.1

Package: check
Architecture: any
Description: unit test framework for C
 Check features a simple interface for defining unit tests, putting 
 little in the way of the developer. Tests are run in a separate 
 address space, so Check can catch both assertion failures and code 
 errors that cause segmentation faults or other signals. The output 
 from unit tests can be used within source code editors and IDEs.
